Sloth/__pycache__/
__pycache__/
Sloth/.ipynb_checkpoints/
.ipynb_checkpoints/
build/

# Cython Files
Sloth/build/
*.c
*pyd
*.obj
*.ipynb

Sloth/*.ipynb

!docs/build

dist/
Sloth.egg-info
*.json
.pytest_cache

.benchmarks/
benchmark_results.*

!tests/test.ipynb
tests/profile/

